<div class="container min-vh-100">
  <div class="row">
    <div class="col s12 m12">
      <h1 class="center teal-text lighten-3">ERROR 403: Forbidden</h1>
      <h3 class="center teal-text lighten-3">You do not have the right credentials to access this page</h3>
    </div>
  </div>
  <div class="row">
    <div class="col mb-5 center">
      <a class="waves-effect waves-light yellow darken-2 btn-large black-text" routerLink="/home">
        Go back to Home
        <i class="material-icons right">home</i>
      </a>
    </div>
    <div class="col mb-5 center" *ngIf="!isLoggedIn">
      <a class="waves-effect waves-light yellow darken-2 btn-large black-text" routerLink="/login">
        Sign In<i        class="material-icons right">person</i>
      </a>
    </div>
  </div>
</div>
