
<div class="row">

  <div class="col-3 s12 m2">
    <div class="content-container">
      <h6>My Profile</h6>
      <div class="collection">
        <a [routerLink]="['../../id']" class="collection-item grey-text text-darken-2">Profile Information</a>
        <a class="collection-item grey-text text-darken-2">Coaching sessions</a>
        <a class="collection-item black-text active yellow darken-2">Apply to become a coach</a>
      </div>
    </div>
  </div>

  <div class="col-9 s12 2">
    <div class="content-container">
      <section class="card-panel grey lighten-5">
        <h5>Apply to become a coach</h5>
        <div class="divider"></div>
        <form [formGroup]="becomeCoachForm" (ngSubmit)="submit()">
          <div class="row">
            <div class="col l2 m2 s12">
              <div class="input-field col s12">
                <textarea id="motivation" class="materialize-textarea" data-length="120"
                          formControlName="motivation"></textarea>
                <label for="motivation">Motivation</label>
              </div>
              <div class="input-field col s6">
                <input id="topic" type="text" formControlName="topic" [ngClass]="{'is-invalid':fc('topic')?.errors
                 && (fc('topic')?.dirty || fc('topic')?.touched) || hasSubmitFailed}">
                <label for="topic">Topic</label>
                <div class="invalid-feedback mb-2" *ngIf="fc('topic')?.errors">
                  Topic is required.
                </div>
                <div formArrayName="extraTopics" *ngFor="let topic of extraTopics?.controls; let i=index">
                  <input type="text" [formControlName]="i">
                </div>
                <button type="button" class="waves-effect waves-light btn-small yellow darken-2 black-text"
                        (click)="addSlot()">
                  Add topic
                </button>
                <button *ngIf="extraTopics.length != 0" type="button" class="ml-1 waves-effect waves-light btn-small yellow darken-2 black-text"
                        (click)="deleteSlot()">
                  Delete topic
                </button>
              </div>
              <div class="input-field col s6">
                <select class="mb-3" style="display: block" id="grade" formControlName="grade" [ngClass]="{'is-invalid':fc('grade')?.errors
                               && (fc('grade')?.dirty || fc('grade')?.touched) || hasSubmitFailed}">
                  <option value="" disabled selected>Choose your grade</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                </select>
                <label for="grade"></label>
                <div class="invalid-feedback mb-2" *ngIf="fc('grade')?.errors">
                  Grade is required.
                </div>
                <div formArrayName="extraGrades" *ngFor="let grade of extraGrades?.controls; let i=index">
                  <select class="mb-2" style="display: block" [formControlName]="i">
                    <option value="" disabled selected>Choose your grade</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row right-align justify-content-center">
            <button type="submit" class="waves-effect waves-light yellow darken-2 btn-large black-text">Send Email <i
              class="material-icons right">send</i></button>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
