<div class="min-vh-100">

  <div class="coachsearch row mt-3">
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-12">
          <div class="input-field">
            <select id="topic" multiple ngModel="" (ngModelChange)="onItemSelect($event)">
              <option value="" disabled selected> Choose topic</option>
              <option *ngFor="let ddtopic of coachTopics" [value]="ddtopic"> {{ddtopic}}</option>
            </select>
            <label for="topic">Filter by topic</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-field">
        <input id="namefilter" type="text" [(ngModel)]="searchText" (ngModelChange)="onTextChange()">
        <label for="namefilter">First name, Last name or email</label>
      </div>

    </div>
  </div>

  <div class="center mt-5" *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <div class="row" *ngIf="!isLoading">
    <div class="row justify-content-center" *ngIf="coaches.length === 0">
      <h4 class="center teal-text lighten-3">No coaches found</h4>
    </div>

    <div *ngFor="let coach of coaches" class="col-md-4">
      <div>
        <h5 class="header">{{coach.firstName}} {{coach.lastName}}</h5>
        <div class="card horizontal" style="flex-direction:row;">
          <div class="align-content-center col-sm-4" style="margin-top: 15px;">
            <img src="assets/images/dummy/dummy-profile-pic.png" class="responsive-img circle">
          </div>
          <div class="card-stacked col-sm-8">
            <div class="">
              <table class="highlight responsive-table">
                <tbody *ngFor="let topic of coach.coachingTopics.slice(0,2); let i=index">
                <tr *ngIf="coach.coachingTopics.length >=2; else empty_topic">
                  <td><strong>{{topic.topic}}</strong></td>
                  <td>{{topic.grade}}</td>
                </tr>
                <ng-template #empty_topic>
                  <tr>
                    <td><strong>{{topic.topic}}</strong></td>
                    <td>{{topic.grade}}</td>
                  </tr>
                  <tr style="border-bottom : none" class="emptytopic">
                    <td><strong>&nbsp;</strong></td>
                  </tr>
                </ng-template>
                </tbody>
              </table>
            </div>
            <div *ngIf="coach.coachingTopics.length >= 3;else other_content">
              <span data-toggle="tooltip"
                    title="{{coach.coachingTopics.slice(2) | jointopic : ', '}}">+ {{coach.coachingTopics.length - 2}}
                more</span>
            </div>
            <ng-template #other_content>
              <div>
                <span>&nbsp;</span>
              </div>
            </ng-template>
            <a class="btn-floating halfway-fab waves-effect waves-light yellow darken-2 btn-large"
               routerLink="../../../coach-profile/{{coach.id}}"><i
              class="material-icons">arrow_right_alt</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
